{{ $imgs := findRE "(?i)<(img|figure)\\b" .Content }}
{{ $hasImages := gt (len $imgs) 0 }}
{{ if $hasImages }}
<div class="project-gallery images">
    {{ .Content }}
</div>
{{ end }}
<article class="night-copy fade-in">
    <h1 class="page-title display-l">{{ .Title }}</h1>
    {{ if not .Date.IsZero }}
    <p class="meta-neon">{{ .Date.Format "Jan 2006" }}</p>
    {{ end }}
    <div class="prose">
        {{ with .Params.summary }}
            {{ . | markdownify }}
        {{ else }}
            {{ .Summary }}
        {{ end }}
    </div>
</article>
