<div id="stage-splash" class="splash" role="dialog" aria-modal="true" aria-labelledby="splash-lockup">
    <div>
        <div class="splash__copy">
            <p class="splash__line">You are about to enter</p>
            <p class="splash__lockup lockup-wide" id="splash-lockup">brice.duke</p>
        </div>
        <button type="button" class="splash__go" data-splash-dismiss>
            <span class="splash__go-label">GO</span>
        </button>
        <button type="button" class="splash__skip" data-splash-dismiss>Skip</button>
    </div>
</div>
